$white: hsl(0, 0%, 96%);
.hero {
    text-align: center;
    font-weight: bold;
}
.tabs {
    margin-left: 5px;
}
.hover:hover {
    text-decoration: underline;
    cursor: pointer;
}
#complete-skip {
    width: 1000px;
}
#flower {
    width: 150px;
}
#select {
    background-color: rgba(44, 86, 177, 0.3);
    border-radius: 4px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(0,67,105);
}
@import "~bulma/bulma";
@import "~bulma-badge/dist/css/bulma-badge";